$border: 1px solid #8b8b8b;
.book-table-header {
  font-weight: 500;

  div {
    border-top: $border;
    border-bottom: $border;
    border-left: $border;
  }

  div:last-child {
    border-right: $border;
  }
}

.book-table-body {
  .hover-action {
    border-right: none !important;
    border-left: none !important;
    display: none;
    cursor: pointer;
  }
  .row:hover{
    background-color: antiquewhite;
    .hover-action {
      display: inline;
    }
  }
  .row {
    border-top: $border;
    div {
      border-left: $border;
    }
    div:last-child {
      border-right: $border;
    }

  }
  .row:first-child {
    border-top: none;
  }
  .row:last-child {
    border-bottom: $border;
  }
}
