<div class="container mt-2">

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="onChangeCategory()" required [(value)]="selectedCategory">
      <mat-option *ngFor="let category of bookCategory, let index=index" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <button type="button" class="btn btn-success mt-2 mb-2 ms-2" (click)="createNewList()">Create New List</button>
    <button type="button" class="btn btn-danger mt-2 mb-2 ms-2" (click)="deleteList()">Delete Favorite Book List
    </button>
  </div>
  <div class="book-table-header row">
    <div class="col-4 py-1">Book title</div>
    <div class="col-4 py-1">Year</div>
    <div class="col-4 py-1">Author name</div>
  </div>
  <div class="book-table-body mb-3">
    <div class="row" *ngFor="let book of books, let index=index">
      <div class="col-4">{{book.title}}</div>
      <div class="col-4">{{book.year}}</div>
      <div class="col-4">{{book.author}}
        <div class="hover-action">
          <mat-icon *ngIf="index !== 0" (click)="onClickOrder(index, 'up')">arrow_upward</mat-icon>
          <mat-icon *ngIf="index !== bookCategory[this.selectedCategory].books.length - 1 " (click)="onClickOrder(index, 'down')">arrow_downward
          </mat-icon>
          <mat-icon (click)="onClickDelete(index)">delete</mat-icon>
        </div>
      </div>
    </div>

  </div>


  <div class="addNewBook">
    <form class="row add-new" [formGroup]="addForm">
      <div class="col">
        <mat-form-field appearance="fill" matfo>
          <mat-label>Title</mat-label>
          <input matInput type="text" class="form-control" formControlName="titleControl" required
                 placeholder="Title" aria-label="Title">
          <mat-error>{{'You must enter a value'}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Year</mat-label>
          <input matInput type="number" class="form-control" formControlName='yearControl' required placeholder="Year"
                 min="1"
                 aria-label="Year">
          <mat-error>{{'You must enter a value'}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input matInput type="text" class="form-control" formControlName='authorControl' required
                 placeholder="Author name"
                 aria-label="Author name">
          <mat-error>{{'You must enter a value'}}</mat-error>
        </mat-form-field>
      </div>
      <button type="button" [disabled]="addForm.invalid" class="btn btn-primary mt-2" (click)="addNewBook()">Add new
        book
      </button>
    </form>

  </div>

</div>
